@model List<Alumno>
@{
    ViewData["Title"] = "Lista de todos las Alumnos";
    Layout = "simple";
}

<h1>@ViewData["Title"]</h1>
@* <partial name="ListaObjetoEscuela"></partial> *@
<div class="d-flex justify-content-end mb-5 mr-2">
    @Html.ActionLink("Agregar", "Create", "Alumno", null, new {@class = "btn btn-success"})
</div>
<table class="table table-dark table-hover table-striped table-bordered dt-responsive nowrap" width="100%">
    <thead>
        <tr>
            @* <th class="text-center" scope="col">Num</th> *@
            <th class="text-center" scope="col">Nombre</th>
            <th class="text-center" scope="col">Genero</th>
            <th class="text-center" scope="col">Edad</th>
            <th class="text-center" scope="col">Curso</th>
            <th class="text-center" scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                @* <td class="text-center">@(i+1)</td> *@
                <td class="text-center">@Model[i].Nombre</td>
                <td class="text-center">@Model[i].Sexo</td>
                <td class="text-center">@Model[i].Edad</td>
                <td class="text-center">
                   @Html.DropDownListFor(x=>x[i].CursoId, (IEnumerable<SelectListItem>)ViewData["Cursos"],new {@class = "btn btn-secondary",@disabled = "disabled",@style = "color: white"})
                    @Html.ActionLink("Ver curso", "Index", "Curso", new { id = @Model[i].CursoId }, new {@class = "btn btn-primary ml-3"})
                </td>
                <td class="text-center">
                    @Html.ActionLink("Editar", "Update", "Alumno", new { id = @Model[i].Id }, new {@class = "btn btn-primary mr-3"})
                    @Html.ActionLink("Eliminar", "Delete", "Alumno", new { id = @Model[i].Id}, new {@class = "btn btn-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>
<p><i>@ViewData["Fecha"]</i></p>
