@model List<Curso>
@{
    ViewData["Title"] = "Lista de todos los Cursos";
    Layout = "simple";
    var index = 0;
}

<h1>@ViewData["Title"]</h1>
<div class="d-flex justify-content-end mb-5 mr-2">
    @Html.ActionLink("Agregar", "Create", "Curso", null, new {@class = "btn btn-success"})
</div>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Nombre</th>
            <th class="text-center" scope="col">Dirección</th>
            <th class="text-center" scope="col">Jornada</th>
            <th class="text-center" scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model) 
        {
            index++;
            <tr>
                <td class="text-center">@index</td>
                <td class="text-center">@obj.Nombre</td>
                <td class="text-center">@obj.Dirección</td>
                <td class="text-center">@obj.Jornada</td>
                <td class="text-center">
                    @Html.ActionLink("Editar", "Update", "Curso", new { id = @obj.Id }, new {@class = "btn btn-primary mr-3"})
                    @Html.ActionLink("Eliminar", "Delete", "Curso", new { id = @obj.Id }, new {@class = "btn btn-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>
<p><i>@ViewData["Fecha"]</i></p>
