@model Curso
@{
    ViewData["Title"] = "Actualización de un Curso";
    Layout = "simple";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="d-flex justify-content-center" asp-validation-summary="All">
    <form method="POST" class="col-8">
        <div class="d-flex flex-column justify-content-center m-2">
            <label asp-for="Nombre"></label>
            @Html.TextBox("Nombre",@Model.Nombre, new { @class = "form-control",@placeholder = "Ingresa el nombre" })
        </div>
        <div class="d-flex flex-column justify-content-center m-2">
            <label asp-for="Dirección"></label>
            @Html.TextBox("Dirección",@Model.Dirección, new { @class = "form-control",@placeholder = "Ingresa la direcciön" })
        </div>
        <div class="d-flex flex-column justify-content-center m-2">
            <label asp-for="Jornada"></label>
            @Html.DropDownList("Jornada",Html.GetEnumSelectList<TiposJornada>(),
                "Seleccione una jornada", new {@class = "form-control"})
        </div>
        <div class="d-flex justify-content-center m-5">
            <input class=" btn btn-primary btn-lg mr-5" type="submit" value="Actualizar"/>
            @Html.ActionLink("Regresar", "Multicurso", "Curso", null, new {@class = "btn btn-secondary btn-lg"})
        </div>
    </form>
</div>
<p class="text-center"><i>@ViewData["Fecha"]</i></p>
